@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

:root {
  --background-color: #18181b;
  --border-color: #64748b;

  --button-background-color: #8b5cf6;
  --button-box-shadow-color: #a78bfa;

  --text-color: #e3e8f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  align-items: center;
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.app {
  border: thin solid var(--border-color);
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 1rem var(--border-color);
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 4rem;
  width: 400px;
}

.app button {
  align-items: center;
  align-self: flex-start;
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-family: "Inter", sans-serif;
}

.app button > img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.15rem;
  width: 1.5rem;
}

.app h1 {
  margin: 2rem 0 4rem;
}

.app div {
  flex: 1;
}

.app div + button {
  background-color: var(--button-background-color);
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0 0.25rem var(--button-box-shadow-color);
  font-size: 1.75rem;
  letter-spacing: 0.065em;
  padding: 1rem 1.5rem;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
}

.app div + button:active {
  box-shadow: 0.075rem 0.075rem 0 0.15rem var(--button-box-shadow-color);
  transform: scale(0.99);
}

.app a {
  align-items: center;
  align-self: flex-end;
  color: var(--text-color);
  display: flex;
  margin-top: 2.5rem;
  text-decoration: none;
}

.app a > img {
  height: 2.75rem;
  margin-right: 0.75rem;
  width: 2.75rem;
}
